<div>
  <br>
  <mat-card class='mat-elevation-z8'>
    <h2>Регистрация</h2>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]='registerForm' class='register-form'>
      <mat-form-field class='field-full-width'>
        <input matInput placeholder="ФИО" formControlName='name' #name required minlength="3" autocomplete="off">
        <mat-error *ngIf="name.required">Введите ваше имя.</mat-error>
        <mat-error *ngIf="!name.minlength">Имя должно состоять минимум из 3 букв.</mat-error>
      </mat-form-field>
      <br><br/>
      <mat-form-field class='field-full-width'>
        <input matInput type='email' placeholder="Электронный адрес" formControlName='email' #email required autocomplete="email">
        <mat-error *ngIf="email.required">Введите почту.</mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class='field-full-width'>
        <input matInput type='password' placeholder="Пароль" formControlName='password' #password required minlength="8">
        <mat-error *ngIf="password.required">Введите пароль.</mat-error>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color='accent' routerLink='/projects' style='margin-right: 10px;'>
        <mat-icon>arrow_back</mat-icon>
        <span>Назад</span>
      </button>
      <button type='submit' (click)='addUser(name.value, email.value, password.value)' [disabled]='registerForm.pristine || registerForm.invalid' mat-raised-button color='primary'>
        <mat-icon>person_add</mat-icon>
        <span>Зарегистрироваться</span>
      </button>
    </form>
  </mat-card>
</div>
