<mat-toolbar color="primary">
    <div>
        <a>
            <mat-icon class="icon" style="padding-left: 10px;">dvr</mat-icon>
            <span class="label">__scrumboard_app</span>
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <mat-nav-list fxLayout class="navigation-items">
            <li mat-list-item>
                <a routerLink="/home" routerLinkActive="active-link">
                    <mat-icon class="icon">home</mat-icon>
                    <span class="label">Главная</span>
                </a>
            </li>
            <li mat-list-item>
                <a routerLink="/projects" routerLinkActive="active-link">
                    <mat-icon class="icon">work</mat-icon>
                    <span class="label">Проекты</span>
                </a>
            </li>
            <li *ngIf="currentUser" mat-list-item>
                <a routerLinkActive="active-link">
                    <mat-icon class="icon">person</mat-icon>
                    <span class="label">{{ currentUser.name }}</span>
                </a>
            </li>
            <ng-template #notLoggedIn>
                <li mat-list-item>
                    <a routerLink="/signin" matTooltip="Вход в аккаунт" routerLinkActive="active-link">
                        <mat-icon class="icon">input</mat-icon>
                        <span class="label">Войти</span>
                    </a>
                </li>
                <li mat-list-item>
                    <a routerLink="/signup" matTooltip="Создать новый аккаунт" routerLinkActive="active-link">
                        <mat-icon class="icon">person_add</mat-icon>
                        <span class="label">Создать аккаунт</span>
                    </a>
                </li>
            </ng-template>
            <li *ngIf="currentUser; else notLoggedIn" mat-list-item>
                <a (click)="onLogout()">
                    <mat-icon class="icon">power_settings_new</mat-icon>
                    <span class="label">Выйти</span>
                </a>
            </li>
        </mat-nav-list>
    </div>
</mat-toolbar>