<div>
    <br>
    <mat-card>
      <section class='mat-typography'>
        <h3>Изменение проекта</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]='updateForm' class='edit-form'>
        <mat-form-field class='field-full-width'>
          <input matInput placeholder='Наименование проекта' formControlName='title' #title>
        </mat-form-field>
        <br>
        <mat-form-field class='field-full-width'>
          <textarea matInput placeholder='Описание' formControlName='description' #description></textarea>
        </mat-form-field>
        <!--<mat-form-field class='field-full-width'>
          <input type='datetime' matInput placeholder='Дата создания проекта' formControlName='date' #date>
        </mat-form-field>-->
        <br><br>
        <button mat-raised-button color='accent' routerLink='/projects'>Назад</button>
        <button type='submit' (click)='updateProject(title.value, description.value)' [disabled]='updateForm.pristine || updateForm.invalid' mat-raised-button color='primary'>Сохранить</button>
      </form>
    </mat-card>
  </div>