<div *ngIf="project">
  <p>Проект: {{ project.title }}</p>

  <button mat-raised-button color='primary' [routerLink]="['/iterations', 'create', prId]">
    Создать итерацию
  </button>
  <button mat-raised-button color='warn' routerLink='/projects'>Назад</button>
  <br />
  <div *ngIf="iterations.length > 0; then iterationsList else noIterations"></div>
</div>

<ng-template #iterationsList>
  <mat-card class='mat-card'>
    <mat-card *ngFor='let it of iterations; let i = index' class='mat-card-iter'>
      <button mat-button color='primary' class='mat-card-iter-header' (click)="openIteration(it._id)">Итерация {{ i +
        1 }}: {{ it.title }}</button>
      <p class='mat-card-iter-descr'><b>Описание итерации:</b> {{ it.description }}</p>
      <div class='mat-card-iter-actions'>
        <button mat-button color='primary' (click)="editIteration(it._id)">Изменить</button>
        <button mat-raised-button color='warn' (click)="deleteIteration(it._id)">Удалить</button>
      </div>
      <p class='mat-card-iter-date'><b>Дата создания: </b>{{ it.date | date: "dd MMMM yyyy" }}</p>
    </mat-card>
  </mat-card>
</ng-template>

<ng-template #noIterations>
  У данного проекта не создано итераций.
</ng-template>
