.mat-card{
  width: 90%;
  margin: 10px auto;
}

.mat-card-iter{
  margin: 10px auto;
  padding: 10px;
  width: 90%;
}

.mat-card-iter-header{
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  white-space: normal;
}

.mat-card-iter-descr{
  font-size: 0.9em;
}

.mat-card-iter-goal {
  font-size: 0.9em;
}

.mat-card-iter-summary {
  font-size: 0.9em;
}

.mat-card-iter-dates {
  font-size: 0.9em;
}

.mat-card-iter-actions{
  justify-self: center;
  align-self: center;
}

.mat-card-iter-actions > button{
  margin: 0 5px;
}

table{
  width: 100%;
}


.mat-column{
  padding: 5px;
}

.mat-column-titl{
  font-weight: bold;
}

.mat-column-titl:hover{
  font-style: italic;
}

.mat-column-right{
  text-align: center;
}

.mat-column-dat{
  font-size: 0.6em;
  font-weight: bold;
  text-align: center;
}

.mat-column-descr{
  font-size: 0.8em;
}