<div *ngIf="project">
  <mat-card>
    <button mat-raised-button color="accent" routerLink="/projects">
      <mat-icon>arrow_back</mat-icon>
      <span>Вернуться назад</span>
    </button>
    <br /><br />
    <mat-divider></mat-divider>
    <h2>Название проекта: {{ project.title }}</h2>
    <h4>Описание проекта: {{ project.description }}</h4>
    <mat-divider></mat-divider>
    <br />
    <button
      mat-mini-fab
      color="primary"
      [routerLink]="['/iterations', 'create', prId]"
      matTooltip="Создать новую итерацию"
      style="margin: 0 10px;"
    >
      <mat-icon>add</mat-icon>
    </button>
    <br /><br />
    <mat-divider></mat-divider>
    <br />
    <div
      *ngIf="iterations.length > 0; then iterationsList; else noIterations"
    ></div>
  </mat-card>
  <app-add-user-to-project class="mat-card"></app-add-user-to-project>
</div>

<ng-template #iterationsList>
  <h3>Итерации проекта</h3>
  <mat-expansion-panel
    *ngFor="let it of iterations; let i = index"
    class="mat-card-iter mat-elevation-z8"
  >
    <mat-expansion-panel-header class="mat-card-iter-header">
      <mat-panel-title> Итерация {{ i + 1 }}: {{ it.title }} </mat-panel-title>
      <mat-panel-description>
        <span style="color: red; text-transform: uppercase; margin-left: auto;">
          ({{ it.state }})</span
        >
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="mat-card-iter-descr">
      <b>Описание итерации:</b> {{ it.description }}
    </p>
    <p class="mat-card-iter-goal"><b>Цель итерации:</b> {{ it.goal }}</p>

    <div>
      <p
        class="mat-card-iter-summary"
        *ngIf="
          it.state === 'completed' && it.summary === undefined;
          then emptySummary
        "
      ></p>
    </div>
    <p class="mat-card-iter-summary" *ngIf="it.summary">
      <b>Итоги итерации:</b> {{ it.summary }}
    </p>
    <ng-template #emptySummary>
      <mat-form-field>
        <textarea matInput placeholder="Итоги итерации" #summary></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        style="width: 20px; height: 40px;"
      >
        <i
          class="material-icons"
          (click)="confirmSummary(it._id, summary.value)"
          >done</i
        >
      </button>
    </ng-template>

    <div class="mat-card-iter-dates">
      <p><b>Создано: </b>{{ it.date | date: "dd MMMM yyyy" }}</p>
      <p><b>Начато: </b>{{ it.startDate | date: "dd MMMM yyyy" }}</p>
      <p><b>Завершить до: </b>{{ it.finishDate | date: "dd MMMM yyyy" }}</p>
    </div>
    <div class="mat-card-iter-actions">
      <button mat-raised-button color="primary" (click)="openIteration(it._id)" style="margin-left: auto;">
        Просмотр
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="changeStateOfIteration(it._id, 'doing')"
        *ngIf="it.state === 'new'"
      >
        Начать
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="changeStateOfIteration(it._id, 'completed')"
        *ngIf="it.state === 'doing'"
      >
        Завершить
      </button>
      <button mat-raised-button color="accent" (click)="editIteration(it._id)">
        Изменить
      </button>
      <button mat-raised-button color="warn" (click)="deleteIteration(it._id)">
        Удалить
      </button>
    </div>
  </mat-expansion-panel>
</ng-template>

<ng-template #noIterations>
  Итерации проекта не найдены.
</ng-template>
