<button mat-raised-button color='primary' [routerLink]="['/project', prId, 'cards', itId]">
  Создать карту
</button>
<!-- Это для карточек итераций -->
<mat-card class='mat-card'>
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Нужно сделать</h2>

      <div cdkDropList [cdkDropListData]="todo" #todoList="cdkDropList" [cdkDropListConnectedTo]="[doneList, doingList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <span class="example-box" *ngFor="let item of todo" cdkDrag (cdkDragDropped)="save($event, item)">{{item.title}}</span>
      </div>
    </div>

    <div class="example-container">
      <h2>В процессе</h2>

      <div class='example-list' cdkDropList [cdkDropListData]="doing" #doingList="cdkDropList" [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)">
        <span class='example-box' *ngFor="let item of doing" cdkDrag (cdkDragDropped)="save($event, item)">{{item.title}}</span>
      </div>
    </div>

    <div class="example-container">
      <h2>Сделано</h2>

      <div class='example-list' cdkDropList [cdkDropListData]="done" #doneList="cdkDropList" [cdkDropListConnectedTo]="[todoList, doingList]"
        (cdkDropListDropped)="drop($event)">
        <span class='example-box' *ngFor="let item of done" cdkDrag (cdkDragDropped)="save($event, item)">{{item.title}}</span>
      </div>
    </div>
  </div>
</mat-card>
