<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-divider></mat-divider>
<mat-dialog-content [formGroup]="editProjectForm">
      <mat-form-field appearance="standard" class='field-full-width'>
        <mat-label>Название проекта</mat-label>
        <input matInput placeholder="Название проекта" formControlName='title' #title required minlength="3">
        <mat-error *ngIf="title.required">Введите название проекта.</mat-error>
        <mat-error *ngIf="!title.minlength">Название проекта должно состоять минимум из 3 букв.</mat-error>
      </mat-form-field>
      <br><br/>
      <mat-form-field class='field-full-width'>
        <textarea matInput cdkTextareaAutosize placeholder='Описание' formControlName='description' #description></textarea>
      </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color='accent' (click)="close()">
      <mat-icon class='icon'>close</mat-icon>
      <span class='label'>Отменить</span>
    </button>
    <button type='submit' color='primary' (click)='editProject(title, description)' [disabled]='editProjectForm.pristine || editProjectForm.invalid' mat-raised-button >
        <mat-icon class='icon'>done</mat-icon>
        <span class='label'>Сохранить изменения</span>
    </button>
</mat-dialog-actions>