<div *ngIf='itId'>
  <button mat-raised-button color='primary' [routerLink]="['/cards', 'create', itId]">
    Создать карту
  </button>
  
  <!-- Это для карточек итераций -->
  <mat-card class='mat-card'>
    <div cdkDropListGroup>
  
      <div class="example-container">
        <h2>Нужно сделать</h2>
        <div cdkDropList [cdkDropListData]="todo" #todoList="cdkDropList" [cdkDropListConnectedTo]="[doneList, doingList]"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo" cdkDrag (cdkDragDropped)="save($event, item)">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            {{item.title}}
            <mat-menu #appMenu="matMenu">
              <button mat-menu-item><mat-icon class='mat-icon-edit'>edit</mat-icon>Изменить</button>
              <button mat-menu-item (click)='deleteCard(item.id)'><mat-icon class='mat-icon-delete'>delete</mat-icon>Удалить</button>
            </mat-menu>
            
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </div>
  
      <div class="example-container">
        <h2>В процессе</h2>
        <div class='example-list' cdkDropList [cdkDropListData]="doing" #doingList="cdkDropList" [cdkDropListConnectedTo]="[todoList, doneList]"
          (cdkDropListDropped)="drop($event)">
          <div class='example-box' *ngFor="let item of doing" cdkDrag (cdkDragDropped)="save($event, item)">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            {{item.title}}
            <mat-menu #appMenu="matMenu">
              <button mat-menu-item><mat-icon class='mat-icon-edit'>edit</mat-icon>Изменить</button>
              <button mat-menu-item (click)='deleteCard(item.id)'><mat-icon class='mat-icon-delete'>delete</mat-icon>Удалить</button>
            </mat-menu>
            
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </div>
  
      <div class="example-container">
        <h2>Сделано</h2>
        <div class='example-list' cdkDropList [cdkDropListData]="done" #doneList="cdkDropList" [cdkDropListConnectedTo]="[todoList, doingList]"
          (cdkDropListDropped)="drop($event)">
          <div class='example-box' *ngFor="let item of done" cdkDrag (cdkDragDropped)="save($event, item)">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            {{item.title}}
            <mat-menu #appMenu="matMenu">
              <button mat-menu-item><mat-icon class='mat-icon-edit'>edit</mat-icon>Изменить</button>
              <button mat-menu-item (click)='deleteCard(item.id)'><mat-icon class='mat-icon-delete'>delete</mat-icon>Удалить</button>
            </mat-menu>
            
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </div>
  
    </div>
  </mat-card>  
</div>
